body {
  margin: 0;
  background-color: #FEFEFE;
  color: #2C2C2C;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  -webkit-box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
          box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 72px;
  background-color: #FEFEFE;
}

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2C2C2C;
  background-color: #BBF330;
  border: none;
  border-radius: 30px;
  padding: 6px 18px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button:hover, .button:focus {
  background-color: #B5FF00;
}

.menu__button {
  fill: #BBF330;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.menu-toggle:hover .menu__button, .menu-toggle:focus .menu__button {
  fill: #FFE550;
}

.button--offerings {
  padding: 10px 22px;
  line-height: 1.2;
  background: #FFFFFF;
  border: 2px solid #7EB101;
}
.button--offerings:hover, .button--offerings:focus {
  border: 2px solid #597D00;
}

.button--subscribe {
  background-color: #BBF330;
  border: 0.854167px solid transparent;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--subscribe:hover, .button--subscribe:focus, .button--subscribe:active {
  background-color: #B5FF00;
}

.button--footer {
  background-color: #FFFFFF;
  border: 0.854167px solid #7EB101;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--footer:hover, .button--footer:focus, .button--footer:active {
  background-color: #FFE550;
}

.site-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .site-nav__wrapper {
    display: none;
  }
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  margin-right: 30px;
}

.site-nav__home {
  width: 38px;
}

.site-nav__offerings,
.site-nav__favorites {
  width: 58px;
}

.site-nav__customers {
  width: 105px;
}

.site-nav__subscribe {
  width: 62px;
}

.site-nav__link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  text-decoration: none;
  padding: 10px 0;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: color;
  transition-property: color;
}
.site-nav__link:hover, .site-nav__link:focus {
  width: auto;
  font-weight: 700;
  color: #BBF330;
  text-decoration: underline;
}

.footer__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer__site-nav {
    margin-bottom: 40px;
  }
}

.site-nav__list--footer {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__list--footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav__list--footer {
    margin-left: 120px;
  }
}

.hero {
  padding: 60px 0 50px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    padding: 60px 0 73px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 159px 0 24px;
  }
}

.container--hero {
  position: relative;
}

.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #2C2C2C;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 537px;
    font-size: 42px;
    line-height: 1.2;
  }
}

.hero__discription {
  font-size: 14px;
  line-height: 1.5;
  color: #2C2C2C;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__discription {
    width: 336px;
    font-size: 16px;
  }
}

.slider__wrapper {
  width: 320px;
  height: 320px;
  background: #FFFFFF;
  border: 14px solid #FFE550;
  border-radius: 50%;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: border;
  transition-property: border;
}
@media screen and (max-width: 767px) {
  .slider__wrapper {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .slider__wrapper {
    position: absolute;
    top: 80px;
    right: 40px;
  }
  .slider__wrapper:hover, .slider__wrapper:focus, .slider__wrapper:active {
    border: 14px solid #BBF330;
  }
}
@media screen and (min-width: 1280px) {
  .slider__wrapper {
    width: 580px;
    height: 580px;
    border: 26px solid #FFE550;
    top: -145px;
    right: 30px;
  }
  .slider__wrapper:hover, .slider__wrapper:focus, .slider__wrapper:active {
    border: 26px solid #BBF330;
  }
}

.slider {
  position: relative;
}

.slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 34px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-size: contain;
  background-position: center;
  font-size: 0;
  border: none;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
@media screen and (max-width: 767px) {
  .slick-arrow {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .slick-arrow:hover, .slick-arrow:focus {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 1280px) {
  .slick-arrow {
    width: 48px;
    height: 40px;
  }
  .slick-arrow:hover, .slick-arrow:focus {
    fill: #7EB101;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
}

.slick-prev {
  left: -25px;
  background-image: url(../../images/arrowleft.svg);
}
@media screen and (min-width: 1280px) {
  .slick-prev {
    left: -35px;
  }
}

.slick-next {
  right: -25px;
  background-image: url(../../images/arrowright.svg);
}
@media screen and (min-width: 1280px) {
  .slick-next {
    right: -35px;
  }
}

.offerings {
  padding-top: 41px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .offerings {
    padding-top: 604px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings {
    padding-top: 280px;
    padding-bottom: 90px;
  }
}

.offerings__img {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .offerings__img {
    display: none;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/rectangle320.jpg);
}
@media screen and (min-width: 480px) {
  .overlay {
    max-width: 480px;
    background-image: url(../images/applebg480.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/applebg480@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .overlay {
    max-width: 768px;
    margin-top: -74px;
    background-image: url(../images/applebgmid.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/applebgmid@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .overlay {
    max-width: 1280px;
    margin-top: -25px;
    background-size: contain;
    background-image: url(../images/applebgbig.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/applebgbig@2x.jpg);
  }
}

.offerings__wrapper {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offerings__wrapper {
    width: 526px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__wrapper {
    width: 50%;
    margin-left: auto;
    padding-right: 107px;
    margin-bottom: 40px;
  }
}

.offerings__title {
  margin-bottom: 28px;
  font-size: 28px;
  line-height: 1.18;
  color: #2C2C2C;
}
@media screen and (min-width: 768px) {
  .offerings__title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__title {
    font-size: 41px;
    line-height: 1.1;
  }
}

.offerings__discription {
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
}
@media screen and (min-width: 768px) {
  .offerings__discription {
    font-size: 16px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__discription {
    line-height: 1.4;
  }
}

@media screen and (min-width: 1280px) {
  .offerings__thumb {
    width: 50%;
    margin-left: auto;
  }
}

.offerings__list {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .offerings__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 116px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 67px;
    margin-left: auto;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .offerings__item:not(:last-child) {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .offerings__item {
    width: 252px;
  }
}

.offerings__svg {
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #FEFEFE;
  background-position: center;
}

.offerings__name {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.17;
  color: #2C2C2C;
}
@media screen and (min-width: 1280px) {
  .offerings__name {
    line-height: 1.4;
  }
}

.offerings__text {
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
}
@media screen and (min-width: 1280px) {
  .offerings__text {
    line-height: 1.5;
  }
}

.offerings__link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
  margin-left: 24px;
}
.offerings__link::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  background-image: url(../images/iconarrow.svg);
  background-size: contain;
  vertical-align: middle;
}
@media screen and (min-width: 1280px) {
  .offerings__link {
    display: none;
  }
}

.favorites {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .favorites {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.favorites__title {
  font-size: 28px;
  line-height: 1.18;
  color: #2C2C2C;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .favorites__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.favorites__discription {
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
}
@media screen and (min-width: 768px) {
  .favorites__discription {
    font-size: 16px;
    line-height: 1.19;
  }
}

.favorites__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .favorites__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites__list {
    margin-top: 40px;
  }
}

.favorites__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 282px;
  border: 11px solid #FFE550;
  border-radius: 50%;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: border;
  transition-property: border;
}
@media screen and (max-width: 767px) {
  .favorites__item:nth-child(n+4) {
    display: none;
  }
  .favorites__item:not(:nth-child(3n+3)) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .favorites__item {
    width: 336px;
    height: 338px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites__item {
    width: 394px;
    height: 397px;
  }
}
.favorites__item:hover, .favorites__item:focus, .favorites__item:active {
  border: 11px solid #BBF330;
}

.customers {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 769px;
}
@media screen and (min-width: 480px) {
  .customers {
    padding-bottom: 115px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .customers {
    height: 544px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .customers {
    padding-top: 100px;
    padding-bottom: 200px;
  }
}

.customers__overlay {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position-y: 100%;
  background-image: url(../images/customersbg320.jpg);
}
@media screen and (min-width: 480px) {
  .customers__overlay {
    max-width: 480px;
    background-image: url(../images/customersbg480.jpg);
  }
}
@media screen and (min-width: 768px) {
  .customers__overlay {
    max-width: 768px;
    background-image: url(../images/customersbg768.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .customers__overlay {
    max-width: 1280px;
    background-image: url(../images/customersbg1280.jpg);
  }
}

.customers__title {
  font-size: 28px;
  line-height: 1.18;
  color: #2C2C2C;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .customers__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.customers__discription {
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
}
@media screen and (min-width: 768px) {
  .customers__discription {
    font-size: 16px;
    line-height: 1.19;
  }
}

.customers__list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .customers__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .customers__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .customers__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 139px;
  }
}

.customers__item {
  padding: 8px;
  min-width: 280px;
  min-height: 247px;
  border-radius: 0 30px 30px 30px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .customers__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 480px) {
  .customers__item {
    width: 336px;
    min-height: 244px;
  }
}
@media screen and (min-width: 1280px) {
  .customers__item {
    width: 501px;
    min-height: 227px;
  }
}

.customers__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.customers__star:not(:last-child) {
  margin-right: 4px;
}

.customers__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: #2C2C2C;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .customers__text {
    font-size: 18px;
    line-height: 1.17;
  }
}

.customers__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  width: 160px;
  border-right: 0.854167px solid #7EB101;
}

.customers__name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2C2C2C;
}

.customers__status {
  font-size: 14px;
  line-height: 1.5;
  color: #2C2C2C;
}

@media screen and (max-width: 767px) {
  .customers__decor {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .customers__decor {
    margin-left: auto;
    margin-top: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .customers__decor {
    margin-top: 120px;
    position: absolute;
    bottom: -190px;
    right: 0;
    margin: 0;
  }
}

.subscribe {
  padding-top: 52px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 82px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe {
    padding-top: 0;
  }
}

.subscribe__title {
  font-size: 28px;
  line-height: 1.2;
  color: #2C2C2C;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe__title {
    font-size: 42px;
    line-height: 1.2;
  }
}

.subscribe__discription {
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .subscribe__discription {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-form {
    max-width: 279px;
    text-align: right;
  }
}

.subscribe-form__input {
  display: block;
  padding: 12px 12px;
  width: 100%;
  background: #FEFEFE;
  border: 0.854167px solid #FFE550;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.subscribe-form__input:hover, .subscribe-form__input:focus, .subscribe-form__input:active {
  outline: none;
  border: 1px solid #7EB101;
}
.subscribe-form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-form__input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    display: inline-block;
    width: 394px;
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2C2C2C;
  background-color: #BBF330;
  border: none;
  border-radius: 30px;
  padding: 6px 18px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button:hover, .button:focus {
  background-color: #B5FF00;
}

.menu__button {
  fill: #BBF330;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.menu-toggle:hover .menu__button, .menu-toggle:focus .menu__button {
  fill: #FFE550;
}

.button--offerings {
  padding: 10px 22px;
  line-height: 1.2;
  background: #FFFFFF;
  border: 2px solid #7EB101;
}
.button--offerings:hover, .button--offerings:focus {
  border: 2px solid #597D00;
}

.button--subscribe {
  background-color: #BBF330;
  border: 0.854167px solid transparent;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--subscribe:hover, .button--subscribe:focus, .button--subscribe:active {
  background-color: #B5FF00;
}

.button--footer {
  background-color: #FFFFFF;
  border: 0.854167px solid #7EB101;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--footer:hover, .button--footer:focus, .button--footer:active {
  background-color: #FFE550;
}

.footer-form {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .footer-form {
    max-width: 279px;
    text-align: right;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form {
    text-align: left;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-form {
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.footer-form__label {
  position: relative;
  display: block;
  margin-bottom: 12px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2C2C2C;
}

.footer-form__input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 12px 12px;
  border: 0.854167px solid #FFE550;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: border;
  transition-property: border;
}
.footer-form__input:hover, .footer-form__input:focus, .footer-form__input:active {
  outline: none;
  border: 1px solid #7EB101;
}
.footer-form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.footer-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.footer-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.footer-form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.footer-form__input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    display: inline-block;
    width: 279px;
    margin-bottom: 12px;
    margin-right: 13px;
  }
}

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2C2C2C;
  background-color: #BBF330;
  border: none;
  border-radius: 30px;
  padding: 6px 18px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button:hover, .button:focus {
  background-color: #B5FF00;
}

.menu__button {
  fill: #BBF330;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.menu-toggle:hover .menu__button, .menu-toggle:focus .menu__button {
  fill: #FFE550;
}

.button--offerings {
  padding: 10px 22px;
  line-height: 1.2;
  background: #FFFFFF;
  border: 2px solid #7EB101;
}
.button--offerings:hover, .button--offerings:focus {
  border: 2px solid #597D00;
}

.button--subscribe {
  background-color: #BBF330;
  border: 0.854167px solid transparent;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--subscribe:hover, .button--subscribe:focus, .button--subscribe:active {
  background-color: #B5FF00;
}

.button--footer {
  background-color: #FFFFFF;
  border: 0.854167px solid #7EB101;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--footer:hover, .button--footer:focus, .button--footer:active {
  background-color: #FFE550;
}

input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.footer-form__policy {
  font-size: 10px;
  line-height: 1.2;
  color: #2C2C2C;
  margin-top: 20px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer-form__policy {
    font-size: 12px;
    line-height: 1.17;
    margin-top: 0;
  }
}

.footer-form__link {
  font-size: 10px;
  line-height: 1.2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7EB101;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: color;
  transition-property: color;
}
.footer-form__link:hover, .footer-form__link:focus, .footer-form__link:active {
  color: #597D00;
}
@media screen and (min-width: 768px) {
  .footer-form__link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
          box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  height: 619px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 90px;
    height: 506px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 90px;
    padding-bottom: 90px;
    height: 395px;
  }
}

.footer__overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/footerbgmin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .footer__overlay {
    max-width: 480px;
    background-image: url(../images/footerbgbigmob.png);
  }
}
@media screen and (min-width: 768px) {
  .footer__overlay {
    max-width: 768px;
    background-image: url(../images/footerbgmid.png);
  }
}
@media screen and (min-width: 1280px) {
  .footer__overlay {
    max-width: 1280px;
    background-image: url(../images/footerbgbig.png);
    background-position: bottom;
  }
}

@media screen and (min-width: 1280px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 70px;
  }
}

.site-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .site-nav__wrapper {
    display: none;
  }
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  margin-right: 30px;
}

.site-nav__home {
  width: 38px;
}

.site-nav__offerings,
.site-nav__favorites {
  width: 58px;
}

.site-nav__customers {
  width: 105px;
}

.site-nav__subscribe {
  width: 62px;
}

.site-nav__link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  text-decoration: none;
  padding: 10px 0;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: color;
  transition-property: color;
}
.site-nav__link:hover, .site-nav__link:focus {
  width: auto;
  font-weight: 700;
  color: #BBF330;
  text-decoration: underline;
}

.footer__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer__site-nav {
    margin-bottom: 40px;
  }
}

.site-nav__list--footer {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__list--footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav__list--footer {
    margin-left: 120px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-form {
    max-width: 279px;
    text-align: right;
  }
}

.subscribe-form__input {
  display: block;
  padding: 12px 12px;
  width: 100%;
  background: #FEFEFE;
  border: 0.854167px solid #FFE550;
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.subscribe-form__input:hover, .subscribe-form__input:focus, .subscribe-form__input:active {
  outline: none;
  border: 1px solid #7EB101;
}
.subscribe-form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.subscribe-form__input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    display: inline-block;
    width: 394px;
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2C2C2C;
  background-color: #BBF330;
  border: none;
  border-radius: 30px;
  padding: 6px 18px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button:hover, .button:focus {
  background-color: #B5FF00;
}

.menu__button {
  fill: #BBF330;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.menu-toggle:hover .menu__button, .menu-toggle:focus .menu__button {
  fill: #FFE550;
}

.button--offerings {
  padding: 10px 22px;
  line-height: 1.2;
  background: #FFFFFF;
  border: 2px solid #7EB101;
}
.button--offerings:hover, .button--offerings:focus {
  border: 2px solid #597D00;
}

.button--subscribe {
  background-color: #BBF330;
  border: 0.854167px solid transparent;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--subscribe:hover, .button--subscribe:focus, .button--subscribe:active {
  background-color: #B5FF00;
}

.button--footer {
  background-color: #FFFFFF;
  border: 0.854167px solid #7EB101;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--footer:hover, .button--footer:focus, .button--footer:active {
  background-color: #FFE550;
}

.footer-form {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .footer-form {
    max-width: 279px;
    text-align: right;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form {
    text-align: left;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-form {
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.footer-form__label {
  position: relative;
  display: block;
  margin-bottom: 12px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2C2C2C;
}

.footer-form__input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 12px 12px;
  border: 0.854167px solid #FFE550;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: border;
  transition-property: border;
}
.footer-form__input:hover, .footer-form__input:focus, .footer-form__input:active {
  outline: none;
  border: 1px solid #7EB101;
}
.footer-form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.footer-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.footer-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.footer-form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.footer-form__input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    display: inline-block;
    width: 279px;
    margin-bottom: 12px;
    margin-right: 13px;
  }
}

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2C2C2C;
  background-color: #BBF330;
  border: none;
  border-radius: 30px;
  padding: 6px 18px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button:hover, .button:focus {
  background-color: #B5FF00;
}

.menu__button {
  fill: #BBF330;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.menu-toggle:hover .menu__button, .menu-toggle:focus .menu__button {
  fill: #FFE550;
}

.button--offerings {
  padding: 10px 22px;
  line-height: 1.2;
  background: #FFFFFF;
  border: 2px solid #7EB101;
}
.button--offerings:hover, .button--offerings:focus {
  border: 2px solid #597D00;
}

.button--subscribe {
  background-color: #BBF330;
  border: 0.854167px solid transparent;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--subscribe:hover, .button--subscribe:focus, .button--subscribe:active {
  background-color: #B5FF00;
}

.button--footer {
  background-color: #FFFFFF;
  border: 0.854167px solid #7EB101;
  padding: 11px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.button--footer:hover, .button--footer:focus, .button--footer:active {
  background-color: #FFE550;
}

input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.footer-form__policy {
  font-size: 10px;
  line-height: 1.2;
  color: #2C2C2C;
  margin-top: 20px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer-form__policy {
    font-size: 12px;
    line-height: 1.17;
    margin-top: 0;
  }
}

.footer-form__link {
  font-size: 10px;
  line-height: 1.2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7EB101;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: color;
  transition-property: color;
}
.footer-form__link:hover, .footer-form__link:focus, .footer-form__link:active {
  color: #597D00;
}
@media screen and (min-width: 768px) {
  .footer-form__link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-menu__list {
    width: 294px;
    margin-bottom: 0;
  }
}

.footer-menu__link {
  display: block;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7EB101;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: color;
  transition-property: color;
}
.footer-menu__link:hover, .footer-menu__link:focus, .footer-menu__link:active {
  color: #597D00;
}
@media screen and (min-width: 768px) {
  .footer-menu__link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.footer__copyright {
  font-size: 10px;
  line-height: 1.2;
  color: #2C2C2C;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 1.17;
  }
}

.order {
  width: 320px;
  height: 449px;
  background-color: #FFE550;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 32px 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: transform, opacity, visibility;
  transition-property: transform, opacity, visibility, -webkit-transform;
}
.backdrop.is-hidden .order {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .order {
    width: 458px;
    padding: 32px 32px;
  }
}

.order__close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 16px;
  right: 16px;
}

.order__title {
  font-size: 24px;
  line-height: 1.2;
  color: #2C2C2C;
  margin-bottom: 20px;
  text-align: center;
}

.order__field {
  margin-bottom: 24px;
  text-align: left;
}

.order__label {
  margin-left: 12px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #2C2C2C;
}

.order__input {
  width: 100%;
  padding: 14px 12px;
  background-color: #FFFFFF;
  border: 1px solid #7EB101;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  outline: none;
}

.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

input:valid:not(:-moz-placeholder-shown) {
  border-color: green;
}

input:valid:not(:-ms-input-placeholder) {
  border-color: green;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:-moz-placeholder-shown) {
  border-color: red;
}

input:invalid:not(:-ms-input-placeholder) {
  border-color: red;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:invalid:not(:-moz-placeholder-shown) + .form__error {
  display: block;
}

input:invalid:not(:-ms-input-placeholder) + .form__error {
  display: block;
}

input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

.order__send {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2C2C2C;
  padding: 10px 38px;
  background: #FFFFFF;
  border: 2px solid #7EB101;
  border-radius: 30px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.order__send:hover, .order__send:focus, .order__send:active {
  background-color: #BBF330;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  width: 130px;
  min-height: 255px;
  background-color: #FEFEFE;
  -webkit-box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
          box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0 30px 30px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: transparent;
  border: 0;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu__toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.site-nav__list--menu {
  display: block;
  margin: 0;
}

.site-nav__link--menu {
  font-size: 16px;
  line-height: 1.19;
  color: #000000;
  padding: 16px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.site-nav__link--menu:hover, .site-nav__link--menu:focus, .site-nav__link--menu:active {
  color: #000000;
  background-color: #BBF330;
  font-weight: 400;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.toplink {
  border-radius: 30px 0 0 0;
}

.downlink {
  border-radius: 0 0 30px 30px;
}/*# sourceMappingURL=main.css.map */