.slider__wrapper {
    width: 320px;
    height: 320px;
    background: $whight-background-color;
    border: 14px solid $secondary-accent-color;
    border-radius: 50%;
    @include transitionItem(border);

    @include pretablet {
        display: none;
    }

    @include tablet {
        position: absolute;
        top: 80px;
        right: 40px; 

        &:hover, &:focus, &:active {
            border: 14px solid $accent-color;
        }
    }

    @include desktop { 
        width: 580px;
        height: 580px;
        border: 26px solid $secondary-accent-color;
        top: -145px;
        right: 30px;

        &:hover, &:focus, &:active {
            border: 26px solid $accent-color;
        }
    }
}

.slider {
    position: relative;
}

.slider__img {
    @include centeredFlex();
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 34px;
    height: 28px;
    @include centeredFlex();
    background-color: $whight-background-color;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06); 
    background-size: contain;
    background-position: center;
    font-size: 0;
    border: none;
    @include transitionItem(box-shadow);

    @include pretablet {
        display: none;
    }
    @include tablet {

        &:hover, &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        }
    }

    @include desktop {
        width: 48px;
        height: 40px;

        &:hover, &:focus {
            fill: $rare-accent-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        }
    }
}

.slick-prev {
    left: -25px;
    background-image: url(../../images/arrowleft.svg);

    @include desktop {
        left: -35px;
    }
}

.slick-next {
    right: -25px;
    background-image: url(../../images/arrowright.svg);

    @include desktop {
        right: -35px;
    }

}


   



