$basic-background-color: #FEFEFE;
$primary-text-color: #2C2C2C;
$secondary-text-color: #000000;
$active-accent-color: #B5FF00;
$accent-color: #BBF330;
$rare-accent-color: #7EB101;
$secondary-accent-color: #FFE550;
$whight-background-color: #FFFFFF;
$rare-green-color: #597D00;
$form-text: #505050;
